doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        form(action="/form_receiver" method='post')
            p
                input(type="text" name='title')
            p
                textarea(name="description", cols="30", rows="10")
            p
                input(type="submit")
                